$colors: ( 
	'blanc':#fff,
	'bleu' : #124b5a, //titres
	'bleu-bouton' : #0e4b5b, //fond boutons
	'bleu-fonce' : #073239, //fond header et footer
	'vert' : #1b7c32,
	'rouge' :#da1515,
	'fond' : #e7edee, //fond filtres et bloc nouveautés
	'texte' : #303030, 
	'texte-blanc' : #eceded,
	'texte-gris' : #919191, 
	'noir' : #000000
);



// Breakpoints
@mixin bp($point) {
	$sm: "(min-width: 500px)";
	$md: "(min-width: 768px)";
	$lg: "(min-width: 960px)";
	$xl: "(min-width: 1200px)";
	$xxl: "(min-width: 1900px)";
  
	@if $point == sm {
	@media #{$sm} { @content; }
	}
	@else if $point == md {
	@media #{$md} { @content; }
	}

	@else if $point == lg {
	@media #{$lg} { @content; }
	}
  
	@else if $point == xl {
	@media #{$xl} { @content; }
	}

	@else if $point == xxl {
		@media #{$xxl} { @content; }
		}
}

@mixin bleed {
	width: 100vw;
	margin-left: 50%;
	transform: translateX(-50%);
}


@mixin bouton {
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight:400;
	letter-spacing: 1.05px;
	line-height: 1.1;
	min-height:4.4rem;
	min-width:21rem;
	padding: 1rem 2rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all var(--transition);
	vertical-align: middle;
}

@mixin screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

@mixin placeholder {
	color:var(--gris);
	font-weight: 700;
	line-height: 40px;
	height:40px;
	opacity:1;
	padding:0 15px;
	text-transform: uppercase;
}