@import "./././sass/abstracts/variables-et-mixins";

.nouveautes-produits {
	background-color: var(--fond);
	padding:1px 0 var(--margin-y-1); //le padding latéral est fourni par la grille .produits
	.produits {
		padding-top:var(--margin-y-1);
		grid-template-columns: repeat(2,1fr);
		@media screen and (min-width :1200px) {
			grid-template-columns: repeat(4,1fr);
		}
	}
}