@import "./././sass/abstracts/variables-et-mixins";

.carrousel {
	.slide {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height:70vw;
		position: relative;
		padding:5rem var(--padding-x);
		.image {
			display: flex;
			height:100%;
			left:0;
			position:absolute;
			top:0;
			width:100%;
			img {
				@include object-fit;
			}
		}
		.texte {
			background-color: rgba(255,255,255,0.9);
			color:var(--bleu);
			font-weight: 400;
			max-width: 94rem;
			padding:var(--margin-y-2) var(--margin-y-2);
			position: relative;
			text-align: center;

			strong {
				color:var(--rouge);
				font-weight: 400;
			}
			p {
				margin-bottom: 0;
			}
			br {
				display: none;
			}

			.button {
				margin-top: 1rem;
			}
		}
	}

	@include bp(sm) {
		.slide {
			height:50vw;
		}
	}

	@include bp(md) {
		.slide {
			height:32vw;
		}
	}

	@include bp(lg) {
		.slide {
			height:43vw;
		}

		.slide .texte {
			@include fs(45);
			br {
				display: block;
			}
			a.button {
				@include fs(21);
			}
		}
	}

	@include bp(xl) {
		.slide {
			height:40vw;
		}
	}

	@include bp(xxl) {
		.slide {
			height : 70rem;
			min-height:unset;
		}
	}

	.owl-dots {
		bottom: calc(var(--margin-y-1) / 2);
		display: flex;
		justify-content: center;
		position: absolute;
		width: 100%;
		button {
			background-color: #fff;
			border-radius:100%;
			height:2.5rem;
			margin-right: 1rem;
			min-height: unset;
			min-width: unset;
			opacity: 0.5;
			width:2.5rem;
			&:last-of-type {
				margin-right: 0;
			}
			&.active, &:hover, &:focus {
				background-color: #fff;
				opacity: 1;
			}
		}
	}
}