.wp-block-button__link {
	background-color: var(--bleu-bouton);
	text-transform: uppercase;
}

.block-list-appender button {
	min-width:unset;
	&, &:hover,&:focus {
		background-color:transparent;
	}
}