

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/


body {
	overflow-x:hidden;
}
:root {
	--margin-y:20px;
	--padding-x:15px;
	--padding-x-content:var(--padding-x);
	--padding-x-header:var(--padding-x);
	--padding-x-footer:var(--padding-x);
	//--header-height:80px;
	//--max-width-xl:1900px;


	@include bp(sm) {
		--padding-x:4%;
	}

	@include bp(md) {
		--margin-y:40px;
	}
	@include bp(lg) {
		--margin-y:55px;
		--padding-x-content: calc(50vw - 868px/2);
		--padding-x:40px;

	}

	@include bp(xxl) {
		--padding-x : calc(50vw - 1600px/2);
	}
}


.alignfull , .bleed-container {
	@include bleed;
	padding-left: 0;
	padding-right: 0;
}

.container {
	padding:0 var(--padding-x);
}

/* Hauteur mini main*/

.site {
	overflow-x: hidden;
	position: relative;
}
.site-main {
	min-height:100vh;
}


/* Grid */

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.show-for-md,
.show-for-lg {
	display: none;
}

@include bp(md) {


	.show-for-md {
		display: initial;
	}

	.hide-for-md {
		display: none;
	}
}

@include bp(lg) {


	.show-for-lg {
		display: initial;
	}

	.hide-for-lg {
		display: none;
	}
}


/* Overlay */
.site-main {
	position: relative;
}
.overlay {
	background-color:#2D2F38;
	display: none;
	opacity: 0.8;
	transition: opacity var(--transition);
	&.toggled {
		display: block;
		height: 100%;
		width: 100%;
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
	}
}


/* Echelle z-index 
Elements qui ont juste besoin d'être au-dessus de leur voisin : 1
Overlay : 5
Volet questionnaire mobile : 6
Sticky header : 10
Menu mobile : 10
Sous-menu desktop : 10;

*/