//Style des messages

.woocommerce-info {
	border-top-color: var(--bleu);

	&::before {
		color: var(--bleu);
	}
}

.woocommerce-message {
	border-top-color: var(--vert);

	&::before {
		color: var(--vert);
	}
}

//Onglets de la page mon compte
.woocommerce-MyAccount-navigation {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		padding-right: 2rem;
		padding-bottom: var(--margin-y-1);
	}

	ul li {
		border-bottom: solid 1px var(--bleu-fonce);
		padding: 1rem;

		&::before {
			display: none;
		}

		a {
			text-decoration: none;
		}

		&.is-active {
			a {
				font-weight: 700;
			}
		}
	}
}

//Page panier - table principale
.woocommerce table.shop_table {
	thead {
		@include fs(24);
		background-color: var(--fond);
		color: var(--noir);
		font-weight: 700;
		text-transform: uppercase;
	}

	.product-thumbnail img {
		width: 20rem;
	}

	a.remove {
		color: #494949 !important;
		transition: transform 0.3s;

		&:hover,
		&:focus {
			background-color: transparent;
			transform: scale(1.05);
		}
	}

	.product-name a,
	.product-price span,
	.product-subtotal span {
		@include fs(24);
		color: var(--bleu-fonce);
		text-decoration: none;
	}

	.product-price,
	.product-subtotal {
		font-weight: 700;

		.tax_label {
			display: none;
		}
	}

	.quantity {
		justify-content: flex-end;
	}

	.cadre-quantite {
		border-color: #ebebeb;
	}

	.quantity input.qty {
		@include fs(24);
		color: var(--texte);
		font-weight: 700;
	}

	td.actions {
		.coupon {
			display: flex;
			flex-wrap: wrap;

			.input-text {
				margin-bottom: 1rem;
				margin-right: 1ch;
				width: unset;
			}
		}

		button.button {
			background-color: var(--fond);
			border-radius: 1rem;

			&:hover,
			&:focus,
			&:active {
				filter: brightness(0.95);
			}
		}
	}
}

.collaterals-wrap .wc_giftwrap_notes_container {
	display: none;
}
@include bp(md) {
	.woocommerce table.shop_table {
		//Déplacer le formulaire coupons en tablette et desktop
		position: relative;

		.coupon {
			position: absolute;
			max-width: 40vw;
			bottom: -125px;
			flex-direction: column;
			left: 0;
		}

		.quantity {
			justify-content: flex-start;
		}

	}

	//PLacer le formulaire choix emballage et les totaux sur deux colonnes
	.collaterals-wrap { //élément ajouté avec des hooks dans actions-cart.php
		display: flex;
		justify-content: space-between;
		margin-bottom: 15rem; //pour compenser le décalage top de .wc-giftwrap quand il est ouvert
	}
	.wc-giftwrap {
		position: relative;
		width: 45%;
		top: 15rem; //pour laisser de la place au formulaire code promo
	}

	.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
		width: 48%;
		.cart_totals {
			float:none;
			width:100%
		}
	}
}

//Page panier - récap totaux
.cart_totals {
	h2 {
		display: none;
	}

	th {
		@include fs(24);
		color: var(--noir);
	}

	.cart-subtotal,
	.order-total {
		td span {
			@include fs(24);
			color: var(--bleu);
			font-weight: 700;
			text-align: right;

			.tax_label {
				display: none;
			}

			.includes_tax {
				display: block;
			}
		}
	}

	.order-total td {
		@include fs(29);
	}

	.wc-proceed-to-checkout {
		text-align: right;
	}

	a.checkout-button.button.alt {
		background-color: var(--bleu);
		display: inline-block;
		padding-top: 1rem;
		padding-bottom: 1rem;

		&:hover,
		&:focus,
		&:active {
			background: var(--bleu-fonce);
		}
	}
}


//Page validation de commande
//Mise en page grille en desktop pour les navigateurs qui le supportent
@include bp(md) {
	@supports(column-gap: 4rem) {
		.checkout {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto 4rem auto;
			grid-column-gap: 4rem;
			column-gap: 4rem;

			.woocommerce-NoticeGroup {
				grid-row-start: 1;
				grid-column: 1 / span 2;
			}

			#order_review_heading {
				grid-row-start: 2;
				grid-column-start: 2;
			}

			#order_review {
				grid-row-start: 3;
				grid-column-start: 2;
			}

			#customer_details {
				grid-row: 2 / span 2;
				display: flex;
				flex-direction: column;
			}
		}

		.woocommerce .col2-set .col-1,
		.woocommerce-page .col2-set .col-1,
		.woocommerce .col2-set .col-2,
		.woocommerce-page .col2-set .col-2 {
			float: none;
			width: 100%;
		}
	}
}

//Taille du logo paiement
.wc_payment_method.payment_method_etransactions_std img {
	max-width: 10rem;
}

//Style des boutons disabled
.woocommerce button.button.alt:disabled[disabled] {
	background-color: #9eb6bd;
}

//Couleur fond bloc paiement
#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	background-color: var(--fond);
}


//Input radio des pages panier et commande
//https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
	.woocommerce-shipping-methods, .wc_payment_methods {

		input[type='radio'] {
			--active: var(--bleu);
			--active-inner: #fff;
			--focus: 2px rgba(18,75,90, .3);
			--border: var(--bleu);
			--border-hover: var(--bleu);
			--background: #fff;
			--disabled: #F6F8FF;
			--disabled-inner: var(--fond);
			-webkit-appearance: none;
			-moz-appearance: none;
			height: 21px;
			outline: none;
			display: inline-block;
			vertical-align: top;
			position: relative;
			margin: 0;
			cursor: pointer;
			border: 1px solid var(--bc, var(--border));
			background: var(--b, var(--background));
			transition: background .3s, border-color .3s, box-shadow .2s;

			&:after {
				content: '';
				display: block;
				left: 0;
				top: 0;
				position: absolute;
				transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
			}

			&:checked {
				--b: var(--active);
				--bc: var(--active);
				--d-o: .3s;
				--d-t: .6s;
				--d-t-e: cubic-bezier(.2, .85, .32, 1.2);
			}

			&:disabled {
				--b: var(--disabled);
				cursor: not-allowed;
				opacity: .9;

				&:checked {
					--b: var(--disabled-inner);
					--bc: var(--border);
				}

				&+label {
					cursor: not-allowed;
				}
			}

			&:hover {
				&:not(:checked) {
					&:not(:disabled) {
						--bc: var(--border-hover);
					}
				}
			}

			&:focus {
				box-shadow: 0 0 0 var(--focus);
			}

			&:not(.switch) {
				width: 21px;

				&:after {
					opacity: var(--o, 0);
				}

				&:checked {
					--o: 1;
				}
			}

			&+label {
				cursor: pointer;
			}
		}



		input[type='radio'] {
			border-radius: 50%;

			&:after {
				width: 19px;
				height: 19px;
				border-radius: 50%;
				background: var(--active-inner);
				opacity: 0;
				transform-origin: center;
				transform: scale(var(--s, .7));
			}

			&:checked {
				--s: .6;
			}
		}

	}

}