//Style des messages

.woocommerce-info {
	border-top-color:var(--bleu);
	&::before {
		color:var(--bleu);
	}
}

.woocommerce-message {
	border-top-color:var(--vert);
	&::before {
		color:var(--vert);
	}
}

//Onglets de la page mon compte
.woocommerce-MyAccount-navigation {
	ul {
		list-style: none;
		margin:0;
		padding:0;
		padding-right:2rem;
		padding-bottom:var(--margin-y-1);
	}
	ul li {
		border-bottom:solid 1px var(--bleu-fonce);
		padding:1rem;
		&::before {
			display: none;
		}
		a {
			text-decoration: none;
		}

		&.is-active {
			a {
				font-weight:700;
			}
		}
	}
}

//Page panier - table principale
.woocommerce table.shop_table {
	thead {
		@include fs(24);
		background-color:var(--fond);
		color:var(--noir);
		font-weight: 700;
		text-transform: uppercase;
	}
	.product-thumbnail img {
		width:20rem;
	}
	a.remove {
		color:#494949 !important;
		transition:transform 0.3s;

		&:hover, &:focus {
			background-color:transparent;
			transform:scale(1.05);
		}
	}
	.product-name a, .product-price span, .product-subtotal span{
		@include fs(24);
		color:var(--bleu-fonce);
		text-decoration: none;
	}
	.product-price, .product-subtotal {
		font-weight: 700;
		.tax_label {
			display: none;
		}
	}
	.quantity {
		justify-content: flex-end;
	}
	.cadre-quantite {
		border-color:#ebebeb;
	}
	.quantity input.qty {
		@include fs(24);
		color:var(--texte);
		font-weight: 700;
	}

	td.actions {
		.coupon {
			display: flex;
			flex-wrap: wrap;
			.input-text {
				margin-bottom: 1rem;
				margin-right:1ch;
				width: unset;
			}
		}

		button.button {
			background-color:var(--fond);
			border-radius: 1rem;
			&:hover, &:focus, &:active {
				filter:brightness(0.95);
			}
		}		
	} 
}

@include bp(md) {
	.woocommerce table.shop_table {
		//Déplacer le formulaire coupons en tablette et desktop
		position: relative;
		.coupon {
			position: absolute;
			max-width: 40vw;
			bottom: -125px;
			flex-direction: column;
			left: 0;
		}

		.quantity {
			justify-content: flex-start;
		}

	}
}

//Page panier - récap totaux
.cart_totals {
	h2 {
		display: none;
	}
	th {
		@include fs(24);
		color:var(--noir);
	}
	.cart-subtotal, .order-total {
		td span {
			@include fs(24);
			color:var(--bleu);
			font-weight: 700;
			text-align: right;
			.tax_label {
				display: none;
			}
			.includes_tax {
				display: block;
			}
		}
	}
	.order-total td {
		@include fs(29);
	}
	.wc-proceed-to-checkout {
		text-align: right;
	}
	a.checkout-button.button.alt {
		background-color: var(--bleu);
		display: inline-block;
		padding-top:1rem;
		padding-bottom:1rem;
		&:hover, &:focus, &:active {
			background: var(--bleu-fonce);
		}
	}
}