@import "./././sass/abstracts/variables-et-mixins";
.acf-visuels { 
	--texte:#fff;
	color: map-get($colors, 'rouge');
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:3rem;

	.visuel {
		display:flex;
		justify-content: center;
		margin-bottom:14px;
		position: relative;
		figure {
			display: block;
			margin-bottom:0;
			img {
				width: 100%;
			}
		}

		span {
			display:none;
		}

	}

	@include bp(md) {
		display:flex;
		flex-direction: row;
		flex-wrap:wrap;
		justify-content: space-between;
		.visuel {
			flex-basis : calc((100% - 14px) / 2);

			span {
				background-color: #fff;
				color: #A132B8;
				display: block;
				left: calc(50% - 140px);
				opacity: 0;
				position: absolute;
				top: calc(50% - 31px);
				transition: opacity var(--transition);
				width: 280px;
				font-weight: 700;
				border: solid 2px var(--main);
				text-transform: uppercase;

			}

			&:hover, &:focus {
				span {
					opacity: 1;
				}
			}
		}
	}
	@media screen and (min-width:1000px) {
		padding:5rem;
		.visuel {
			flex-basis: calc((100% - 60px) / 3);
			margin-bottom: 30px;
		}
	}
	@media screen and (min-width:1400px) {
		.visuel {
			flex-basis:calc((100% - 80px) / 3);
			margin-bottom: 40px;
		}
	}
}