.acf-visuels {
  --texte:#fff;
  background-color: pink;
  color: #D61530;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3rem; }
  .acf-visuels .visuel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 14px;
    position: relative; }
    .acf-visuels .visuel figure {
      display: block;
      margin-bottom: 0; }
      .acf-visuels .visuel figure img {
        width: 100%; }
    .acf-visuels .visuel span {
      display: none; }
  @media (min-width: 768px) {
    .acf-visuels {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .acf-visuels .visuel {
        -ms-flex-preferred-size: calc((100% - 14px) / 2);
        flex-basis: calc((100% - 14px) / 2); }
        .acf-visuels .visuel span {
          background-color: #fff;
          color: #A132B8;
          display: block;
          left: calc(50% - 140px);
          opacity: 0;
          position: absolute;
          top: calc(50% - 31px);
          -webkit-transition: opacity var(--transition);
          transition: opacity var(--transition);
          width: 280px;
          font-weight: 700;
          border: solid 2px var(--main);
          text-transform: uppercase; }
        .acf-visuels .visuel:hover span, .acf-visuels .visuel:focus span {
          opacity: 1; } }
  @media screen and (min-width: 1000px) {
    .acf-visuels {
      padding: 5rem; }
      .acf-visuels .visuel {
        -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
        margin-bottom: 30px; } }
  @media screen and (min-width: 1400px) {
    .acf-visuels .visuel {
      -ms-flex-preferred-size: calc((100% - 80px) / 3);
      flex-basis: calc((100% - 80px) / 3);
      margin-bottom: 40px; } }
